# Application
web/app/plugins/*
web/app/languages
!web/app/plugins/.gitkeep
web/app/mu-plugins
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# WordPress
web/wp
web/.htaccess

# Dotenv
.env
.env.*
!.env.example

# Composer
vendor/*
!vendor/.gitkeep

# Node modules
node_modules/

# Bedrock files
CHANGELOG.md
CODE_OF_CONDUCT.md
LICENSE.md
composer.lock
package-lock.json
README.md

php-errors.log